body {
  margin: 10px;
}
a {
  color:black;
  text-decoration: none;
}
h1 {
  font-size:45px;
  text-align:center;
  border-bottom: 1px solid grey;
  margin:5px;
  padding: 20px;
  background-color: #AC0704;
}
input[type=number] {
  width: 110px;
  text-align: center;
}
#popUpTitle {
  text-align:center;
  color:white;
  font-size:30px;
  background-color: #313D99;
}
#popUpBody {
  margin-left: 20px;
}
#popUpSubmit {
  margin-top: 10px;
  margin-left: 130px;
  border-radius: 5px;
  width: 60px;
  height: 30px;
  font-size: 15px;
  background-color: #AC0704;
  color: white;
}
#broadMenu ul {
  border-right: 2px solid grey;
  width: 200px;
  margin-left: 50px;
  padding: 10px;
  padding-right: 0;
}
#broadMenu ul li {
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 10px;
}
#grid{
  display: grid;
  grid-template-columns: 300px 1fr;
}
#body{
  padding-left: 5px;
}
#initialSubmit{
  margin-left: 300px;
  border-radius: 5px;
  width: 80px;
  height: 35px;
  font-size: 18px;
  background-color: #AC0704;
  color: white;
}
#resultSubmit{
  margin-left: 500px;
  border-radius: 5px;
  width: 80px;
  height: 35px;
  font-size: 18px;
  background-color: #AC0704;
  color: white;
}
#전송{
  margin-left: 450px;
  border-radius: 5px;
  width: 60px;
  height: 30px;
  font-size: 15px;
  background-color: #AC0704;
  color: white;
}
@media(max-width:800px) {
  #grid{
    display:block;
  }
  #broadMenu ul {
    border-right: none;
    border-bottom: 2px solid grey;
  }
  h1 {
    border-bottom: none;
  }
  table{
    width: 90%;
  }
}
